/* ===== CONTEÚDO PRINCIPAL ===== */
#content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Zain', sans-serif;
}

/* BANNER PRINCIPAL */
.loja-fisica-banner h1 {
    font-size: 3rem;
    color: #E89AA3;
    margin-bottom: 15px;
}

.loja-fisica-banner p {
    font-size: 1.0rem;
    margin-bottom: 25px;
}

.loja-fisica-banner {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slider-produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loja-fisica .slider-produto img {
    width: 100%;
    height: 600px;
    max-width:1000px;
    border: 1.5px solid #d6b98c;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* BOTÃO WHATSAPP */
.btn-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #25d366;
    color: #fff;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.btn-whatsapp:hover {
    transform: scale(1.05);
}

/* SEÇÃO DE INFORMAÇÕES */
.loja-fisica-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0;
}

.info-card {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 15px;
    flex: 1 1 250px;
    min-width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 20px;
    border: 1.5px solid #d6b98c;
}

.info-card h2 {
    font-size: 1.8rem;
    color: #E89AA3;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 1rem;
}

.info-card a {
    color: #E89AA3;
    text-decoration: none;
    font-weight: bold;
}

/* MAPA */
.loja-fisica-mapa iframe {
    border-radius: 15px;
    border: 2px solid #E89AA3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.loja-fisica-mapa {
    border: 1.5px solid #d6b98c;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* RESPONSIVO */
@media screen and (max-width: 768px) {

    #content {
        padding-left: 20px;
        /* espaço da esquerda */
        padding-right: 20px;
        /* espaço da direita */
    }

    .loja-fisica-banner h1 {
        font-size: 2.2rem;
    }

    .info-card h2 {
        font-size: 1.5rem;
    }
}